<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BigData.UI.Client.Properties.SshSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BigData.UI.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BigData.UI.Client.Properties.SshSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BigData.UI.Client.Properties.SshSettings>
            <setting name="OutputLocalPath" serializeAs="String">
                <value>output</value>
            </setting>
        </BigData.UI.Client.Properties.SshSettings>
        <BigData.UI.Client.Properties.Settings>
            <setting name="NumOfStocks" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DaysToAnalyze" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FeaturesToAnalyze" serializeAs="String">
                <value>Open, High, Low, Close</value>
            </setting>
            <setting name="NumOfClusters" serializeAs="String">
                <value>5</value>
            </setting>
        </BigData.UI.Client.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BigData.UI.Client.Properties.SshSettings>
            <setting name="HostIP" serializeAs="String">
                <value>192.168.192.128</value>
            </setting>
            <setting name="HostUsername" serializeAs="String">
                <value>training</value>
            </setting>
            <setting name="HostPassword" serializeAs="String">
                <value>training</value>
            </setting>
            <setting name="SrcLocalPath" serializeAs="String">
                <value>src</value>
            </setting>
            <setting name="SrcHostPath" serializeAs="String">
                <value>/home/training/nasdaq/src</value>
            </setting>
            <setting name="InputLocalPath" serializeAs="String">
                <value>input</value>
            </setting>
            <setting name="InputHostPath" serializeAs="String">
                <value>/home/training/nasdaq/input</value>
            </setting>
            <setting name="InputHdfsPath" serializeAs="String">
                <value>/nasdaq/input</value>
            </setting>
            <setting name="JarName" serializeAs="String">
                <value>nasdaq.jar</value>
            </setting>
            <setting name="OutputHdfsPath" serializeAs="String">
                <value>/nasdaq/output</value>
            </setting>
            <setting name="MainClassName" serializeAs="String">
                <value>solution.Nasdaq</value>
            </setting>
            <setting name="OutputHostPathRelative" serializeAs="String">
                <value>nasdaq</value>
            </setting>
            <setting name="OutputHostPathFull" serializeAs="String">
                <value>/home/training/nasdaq/output</value>
            </setting>
        </BigData.UI.Client.Properties.SshSettings>
    </applicationSettings>
</configuration>